
# Python related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.DS_Store
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
env/
ENV/
.virtualenv/
*.virtualenv

# Django related files
/db.sqlite3
*.sqlite3
*.pot
*.pyc
*.so
*.log
*.pot
*.mo
*.swp
*/migrations/*  # Ignore migrations, but keep __init__.py
!*/migrations/__init__.py

# Local development settings
/local_settings.py
/config/settings/local.py

# Static and media files
/static/
media/

# VS Code settings
.vscode/

# IDE specific settings (for example, PyCharm)
.idea/
*.iml

# macOS specific files
.DS_Store

# Ignore coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache

# Ignore pytest cache
.pytest_cache/