asgiref==3.8.1
async-timeout==4.0.3
Django==5.1.1
django-redis==5.4.0
numpy==2.1.2
pandas==2.2.3
pi3==0.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
redis==5.1.1
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
